#qna {
    display: none;
  }
  
  .qBox {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    width: 80%;
    font-size: 24px;
  }
  
  .answerList {
    display: block;
    border-radius: 20px;
    font-size: 20px;
    background-color: whitesmoke;
    width: 100%;
    border: none;
    width: 80%;
  }
  
  .answerList:hover,
  .answerList:focus {
    background-color: paleturquoise;
    color: whitesmoke;
  }
  
  .status {
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
  }
  
  .statusBar {
    border-radius: 20px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+7,e1ffff+12,fdffff+12,e6f8fd+30,c8eefb+54,bee4f8+75,b1d8f5+100;Blue+Pipe+%232 */
    background: #e1ffff; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #e1ffff 0%,
      #e1ffff 7%,
      #e1ffff 12%,
      #fdffff 12%,
      #e6f8fd 30%,
      #c8eefb 54%,
      #bee4f8 75%,
      #b1d8f5 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #e1ffff 0%,
      #e1ffff 7%,
      #e1ffff 12%,
      #fdffff 12%,
      #e6f8fd 30%,
      #c8eefb 54%,
      #bee4f8 75%,
      #b1d8f5 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #e1ffff 0%,
      #e1ffff 7%,
      #e1ffff 12%,
      #fdffff 12%,
      #e6f8fd 30%,
      #c8eefb 54%,
      #bee4f8 75%,
      #b1d8f5 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
  }